{% extends 'base.html' %}
{% load static core markdown %}

{% block main_content %}
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if title|length > 0 %}<h1>{{ title }}</h1>{% endif %}
                </div>
            </div>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ body|markdownify|center_img|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}