{% load static core %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style type="text/css">
        @font-face {
            font-family: "Myriad Pro";
            src: url('{% static 'fonts/Myriad-Pro_31655.ttf' %}');
        }

        @font-face {
            font-family: "Myriad Pro Light";
            src: url('{% static 'fonts/Myriad-Pro-Light_31642.ttf' %}');
        }

        @font-face {
            font-family: "PT Sans";
            src: url('{% static 'fonts/PT_Sans-Web-Regular.ttf' %}');
        }
    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="description" content="{{ site_meta.description }}">
        <meta name="keywords" content="{{ site_meta.keywords }}">
        <meta name="author" content="{{ site_meta.author }}">
    {% endblock %}

    <title>{% block title %}{{ site_meta.title }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
    {% block extra_css %} {% endblock %}

    <!-- Custom Fonts -->
    {% block fonts %}

        <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block extra_fonts %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'article:list' %}">{{ site_meta.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'article:list' %}">Strona główna</a>
                </li>
                {% if 'guest_book' in installed_apps %}
                    <li>
                        <a href="{% url 'guest-book:index' %}">Księga gości</a>
                    </li>
                {% endif %}
                {% for nav in nav_list %}
                    <li>
                        <a href="{{ nav.url }}">{{ nav.name }}</a>
                    </li>
                {% endfor %}
                {% if searchform %}
                <li style="margin-top: 5px" id="serch-nav">

                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input maxlength="30" name="search" type="text" class="form-control"
                                   placeholder="Wyszukaj....">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% block header_image %}{% if site_meta.image|length > 0 %}{{ site_meta.image.url }}{% endif %}{% endblock %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="{% block header_type %}site{% endblock %}-heading">
                    {% block header_title %}<h1>{{ site_meta.title }}</h1>{% endblock %}
                    {% block header_hr %}
                        <hr class="small"> {% endblock %}
                    {% block header_subheading %}<span class="subheading">{{ site_meta.subheading }}</span>{% endblock %}
                    {% block header_meta %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
{% block main_content %}{% endblock %}

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if footer.twitter|length > 0 %}
                    <li>
                        <a href="{{ footer.twitter }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if footer.facebook|length > 0 %}
                    <li>
                        <a href="{{ footer.facebook }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if footer.github|length > 0 %}
                    <li>
                        <a href="{{ footer.github }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; 2016 Clean Blog {% version %}v </p>
            </div>
        </div>
    </div>
</footer>

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>
    <!-- Theme JavaScript -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
{% endblock js %}
{% block extra_js %} {% endblock %}
</body>

</html>