{% extends 'base.html' %}
{% load static django_markdown %}
{% block meta %}
    <meta name="description" content="{{ article.desc }}">
    <meta name="keywords" content="{% for tag in article.tags.all %}{{ tag }},{% endfor %}">
    <meta name="author" content="{{ article.author }}">
{% endblock %}

{% block header_type %}post{% endblock %}
{% block header_image %}{{ article.image_url|default_if_none:'http://www.freevector.com/uploads/vector/preview/6044/FreeVector-Colorful-Shapes-Background.jpg' }}{% endblock %}
{% block header_title %}<h1>{{ article.title }}</h1>{% endblock %}
{% block header_hr %}{% endblock %}
{% block header_subheading %}{% endblock %}
{% block header_meta %}<span class="meta">Wrzucone przez <a href="{% url 'article:author-list' article.author %}">{{ article.author }}</a> dnia {{ article.publish_date }}</span>{% endblock %}

{% block extra_css %}<link href="{% static 'css/imgbox.css' %}" rel="stylesheet">{% endblock %}

{% block main_content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.text|markdown }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/jquery.imgbox.js' %}"></script>
    <script>$("#pic").imgbox({slideshow: false});</script>
{% endblock %}