{% extends 'articles/article_detail_base.html' %}
{% load static markdown article_wrapper %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <article>
                    {{ article.text|markdownify|wrap_img|safe }}
                </article>
            </div>
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                {% if tags %}
                    <div class="side-box">
                        <h4>popularne tagi</h4>
                        <hr>
                        {% for tag in tags %}
                            <span>
                            <a href="{% url 'tag:list' tag.slug %}">{{ tag.title }}({{ tag.articles__count }})</a>
                        </span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if related_articles %}
                    <div class="side-box">
                        <h4>powiązane</h4>
                        <hr>
                        {% for article in related_articles %}
                            <li>
                                <a href="{% url 'article:detail' article.slug %}">{{ article.title }}</a>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if links %}
                    <div class="side-box">
                        <h4>linki</h4>
                        <hr>
                        {% for link in links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.name }}</a>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if articles_years %}
                    <div class="side-box">
                        <h4>Lata</h4>
                        <hr>
                        {% for article in articles_years %}
                            <li>
                                <a href="{% url 'article:year' article.year %}">{{ article.year }} ({{ article.c }}) </a>
                            </li>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if article.author.avatar and article.author.about_me %}
        <section class="about-author">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                        <a href="mailto:{{ article.author.email }}">
                            <img src="{{ article.author.avatar_url }}" class="img img-circle" style="cursor: pointer"/>
                        </a>
                        {{ article.author.about_me }}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
    {% include 'articles/snippets/disqus.html' %}
{% endblock %}