{% extends 'base.html' %}
{% load i18n %}

{% block header_image %}https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-162720.jpg{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                <div class="post-preview">
                    <a href="{% url 'article:detail' article.slug %}">
                        <h2 class="post-title">{{ article.title }}</h2>
                        <h3 class="post-subtitle">{{ article.desc }}</h3>
                    </a>
                    <p class="post-meta pull-left">{% trans 'Posted by' %} <a href="{% url 'article:author-list' article.author %}">{{ article.author }}</a> {% trans 'on' %}
                        {{ article.publish_date }}
                    </p>

                     <div class="post-meta pull-right">
                        {% trans 'Tags:' %}
                        {% for tag in article.tags.all %}
                            <a href="{% url 'tag:list' tag.slug %}">{{ tag }}</a>{% if forloop.last %}{% else %},{% endif %}
                        {% endfor %}
                     </div>
                    <div class="clearfix"></div>
                </div>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    {% if page_obj.has_next %}
                    <li class="next">
                        <a href="?page={{ page_obj.next_page_number }}">{% trans 'Older Posts' %} &rarr;</a>
                    </li>
                    {% elif page_obj.has_previous %}
                        <li class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans 'Newer Posts' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}