{% extends "admin/change_form.html" %}
{% load article_tag %}
{% block content_title  %}
    {% if title %}
        <h1>{{ title }}
            {% if adminform.form.instance.id %}
                <span id="preview-link">
                    (<a href="{% url 'article:preview' adminform.form.instance.id %}">Podgląd</a>)
                </span>
            {% endif %}
        </h1>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    {% if adminform.form.instance.id %}
    <div class="submit-row">
       {% generate_status_submit adminform.form.instance.id %}
    </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
{% block footer %}
    <form id="status-form" method="post" action="{% url 'article:change_status' %}">
        <input type="hidden" name="id" value="{{ adminform.form.instance.id }}" />
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ request.build_absolute_uri }}">
    </form>
{% endblock %}
{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
        setInterval(function () {
            var input = document.getElementsByName('_continue')[0];
            input.click();
        }, 1000 * 60 * 30)
    </script>

    <script>

        function getInputs() {
            var inputs, index, input_list = [];

            inputs = document.getElementsByTagName('input');
            for (index = 0; index < inputs.length; ++index) {
                input_list.push(inputs[index])
            }
            inputs = document.getElementsByTagName('textarea');
            for (index = 0; index < inputs.length; ++index) {
                input_list.push(inputs[index])
            }
            return input_list;
        }

        function pushInputs(inps, func) {
            var index;
            for (index = 0; index < inps.length; ++index) {
                inps[index].onchange = func;
            }
        }

        function generateDict(inps) {
            var index, dict= {};
            for (index = 0; index < inps.length; ++index) {
                dict[inps[index].name] = inps[index].value;
            }
            return dict;
        }

        function onInputChange(event) {
            var inputs = document.getElementsByClassName("inp-status");
            var preview = document.getElementById("preview-link");

            if (d[event.currentTarget.name] !== event.currentTarget.value) {
                for (var index = 0; index < inputs.length; ++index) {
                    inputs[index].disabled = true;
                }
                preview.style.display = "None";
            } else {
                for (var index = 0; index < inputs.length; ++index) {
                    inputs[index].disabled = false;
                }
                preview.style.display = "";
            }
        }

        var inps = getInputs();
        var d = generateDict(inps);
        pushInputs(inps, onInputChange);
    </script>
{% endblock %}