{% extends "admin/change_form.html" %}
{% load article_tag %}
{% block content_title  %}
    {% if title %}
        <h1>{{ title }}
            {% if adminform.form.instance.id %}
                (<a href="{% url 'article:preview' adminform.form.instance.id %}">Podgląd</a>)
            {% endif %}
        </h1>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
       {% generate_status_submit adminform.form.instance.id %}
    </div>

    {{ block.super }}
{% endblock %}
{% block footer %}
    <form id="status-form" method="post" action="{% url 'article:change_status' %}">
        <input type="hidden" name="id" value="{{ adminform.form.instance.id }}" />
        {% csrf_token %}
        <input type="hidden" name="url" value="{{ request.build_absolute_uri }}">
    </form>
{% endblock %}